@font-face {
  font-family: sansation;
  src: url(../fonts/Sansation-Regular.ttf); }
@font-face {
  font-family: sansation-bold;
  src: url(../fonts/Sansation-Bold.ttf); }
html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0; }

.button, .left-button, .right-button {
  height: 100%;
  width: 50%;
  background-color: #9999FF; }

.left-button {
  float: left; }

.right-button {
  float: right; }

.info-block, .main #about, .main #carleton, .main #co-op, .main #contact, .main #history-museum {
  width: 100%;
  height: 100%;
  min-height: 44em;
  border-bottom: 1px solid #F01A34;
  position: relative;
  padding: 2% 2% 2% 2%;
  box-sizing: border-box;
  bottom: 0; }

.wrapper {
  width: 100%;
  background-image: url("../img/ryan.jpg");
  background-width: 100%; }

.nav {
  background-color: #555555;
  z-index: 10;
  height: 100%;
  width: 15em;
  position: fixed;
  right: -15em;
  top: 0;
  border-left: 1px solid #F01A34; }
  .nav .nav-button, .nav .main-button {
    width: 100%;
    height: 5em;
    color: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #444444;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav .nav-button h4, .nav .main-button h4 {
      font-family: sansation;
      text-transform: uppercase;
      text-decoration: none; }
  .nav .main-button {
    background-color: #995555; }

.header {
  width: 100%;
  height: 5em;
  background-color: #444444;
  opacity: .9;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1; }
  .header .nav-control {
    width: 5em;
    height: 5em;
    background-color: #222222;
    right: 0;
    position: fixed; }

.logo {
  font-family: sansation;
  text-transform: uppercase;
  text-decoration: none;
  position: fixed;
  z-index: 30;
  left: 2em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF; }

.main {
  position: relative;
  right: 0;
  width: 100%;
  top: 5em;
  color: #FFFFFF; }
  .main h3 {
    font-family: sansation;
    text-transform: uppercase;
    text-decoration: none; }
  .main p {
    font-family: sansation;
    text-transform: none;
    text-decoration: none; }
  .main #about {
    color: #FFFFFF; }
    .main #about h1 {
      font-family: sansation-bold;
      font-size: 4em;
      text-transform: uppercase;
      opacity: .9;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #995555;
      text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; }
    .main #about h2 {
      font-family: sansation-bold;
      font-size: 3em;
      text-transform: uppercase;
      opacity: .9;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #555555;
      text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; }
  .main #carleton {
    background-color: #555555; }
  .main #co-op {
    background-color: #333333; }
  .main #contact {
    background-color: #555555;
    border: none; }
  .main #history-museum {
    background-color: #333333; }

/*# sourceMappingURL=style.css.map */
