$shadow-color:#000000;

@font-face {
    font-family: sansation;
    src: url(../fonts/Sansation-Regular.ttf);
}

@font-face {
    font-family: sansation-bold;
    src: url(../fonts/Sansation-Bold.ttf);
}


html,
body {
	font-size:16px;
	margin:0;
	padding:0;
	height:100%;
	cursor: default;
	
}





.info-block{
		width:100%;
		height:43.5em;
		border-bottom:1px solid #990000;
		padding:2% 2% 2% 2%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		background-color:#995555;
		
		.mini-header{
			position:relative;
			left:2%;
			top:.5%;
		}
		
		h2{
				font-family:sansation-bold;
				text-transform: uppercase;
				
				
		}
		
		p{
			position:relative;
			top:-2%;
		}
		
		.section-block{
			width:100%;
			height:100%;
			position:relative;
			padding:0% 0% 0% 0%;
			-webkit-flex: auto;
			flex: auto;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			
		
			.button{
				height:85%;
				width:5%;
				background-color:#333333;
				position:absolute;
				-webkit-flex: auto;
				flex: auto;
				bottom:0;
				border:1px solid #666666;
				border-top:1px solid #111111;
				border-bottom:none;
			}

			.left-button{
				@extend .button;
				left:0;
			}

			.right-button{
				@extend .button;
				right:0;
			}
			.section-content{
				width:90%;
				height:85%;
				position:absolute;
				bottom:0;
				background-color:#555555;
				left:5%;
				border:.25px solid #666666;
				border-top:1px solid #111111;
				border-opacity:.5;
				border-bottom:none;
				.section-meat{
					top:-2.8%;
					width:100%;
					height:100%;
					background-color:#FFFF99;
					position:relative;
					background-color:#666666;
					
					p{
						top:2%;
						left:2%;
						position:relative;
					}
				}
			}
		}
		
}

.wrapper{
	width:100%;
	position:relative;
	height:auto;
	background-image:url("../img/ryan.jpg");
	background-size:125% auto;
	background-color:#333333;
	background-repeat:no-repeat;
	
	overflow: hidden;
	
	
}

.nav{
	background-color:#555555;
	z-index:10;
	height:100%;
	width:15em;
	position:fixed;
	right:-15em;
	top:0;
	border-left:1px solid #990000;
	
	
	.nav-button{
		width:100%;
		height:5em;
		color:#EEEEEE;
		text-align:center;
		border-bottom:1px solid #444444;
		display:flex;
		align-items: center;
		justify-content: center;
		
		
		h4{
			font-family:sansation;
			text-transform: uppercase;
			text-decoration:none;
		}
		
	}
	
	.main-button{
		@extend .nav-button;
		background-color:#995555;
		
	}
}

.header{
	width:100%;
	height:5em;
	background-color:#444444;
	opacity:.9;
	left:0;
	top:0;
	position:fixed;
	z-index:1;
	
	.nav-control{
		width:5em;
		height:5em;
		background-color:#222222;
		right:0;
		position:fixed;
	}
	
}

.logo{
		font-family:sansation;
		text-transform: uppercase;
		text-decoration:none;
		position:fixed;
		z-index:30;
		left:2em;
		height:5em;
		display:flex;
		align-items: center;
		justify-content: center;
		color:#FFFFFF;
}
	
.main{
	position:relative;
	right:0;
	top:5em;
	color:#FFFFFF;
	
	
	
	h3{
		font-family:sansation;
		text-transform: uppercase;
		text-decoration:none;
	}
	p{
		font-family:sansation;
		text-transform: none;
		text-decoration:none;
	}
	
	#home{
		@extend .info-block;
		display:none;
		color:#FFFFFF;
		background:none;
		
		h1{
			font-family:sansation-bold;
			font-size:4em;
			text-transform: uppercase;
			opacity:.9;
			
			
			text-shadow:
				2px 2px 0 #990000,
				-1px -1px 0 #990000,  
				1px -1px 0 #990000,
				-1px 1px 0 #990000,
				1px 1px 0 #990000;
		}
		
		h2{
			font-family:sansation-bold;
			font-size:3em;
			text-transform: uppercase;
			opacity:.9;
			position:relative;
			left:2%;
			
			text-shadow:
				3px 3px 0 $shadow-color,
				-1px -1px 0 $shadow-color,  
				1px -1px 0 $shadow-color,
				-1px 1px 0 $shadow-color,
				1px 1px 0 $shadow-color;
		}
	}
	
	#about{
		@extend .info-block;
		background-color:#555555;
		
		
		
	}
	#carleton{
		@extend .info-block;
		padding:0;
		.section-content{
			background-image:url("../img/carleton.png");
			background-size:100%;
		}
	}
	#co-op{
		@extend .info-block;
		padding:0;
		
		.section-content{
			background-image:url("../img/co-op.png");
			background-size:100%;
		}
	}
	
	#contact{
		@extend .info-block;
		border:none;
		background-color:#555555;
	}
	
	#history-museum{
		@extend .info-block;
		padding:0;
		
		.mini-header{
			top:.5%;
			margin:0;
			padding:0;
		}
		
		.section-content{
			background-image:url("../img/museum.png");
			background-size:100%;
		}
		
	}
	
}

