$shadow-color:#000000;

@font-face {
    font-family: 'sansation-bold';
    src: url('../fonts/sansation-bold-webfont.woff2') format('woff2'),
         url('../fonts/sansation-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansation-italic';
    src: url('../fonts/sansation-italic-webfont.woff2') format('woff2'),
         url('../fonts/sansation-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansation';
    src: url('../fonts/sansation-regular-webfont.woff2') format('woff2'),
         url('../fonts/sansation-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html,
body {
	font-size:16px;
	margin:0;
	padding:0;
	height:100%;
	cursor: default;
	
}


.logo{
	cursor: pointer;
	
}

.arrow{
	width:25px;
	height:100px;
	margin: auto;
	position: absolute;
	opacity:.7;
	
	
}

.left-arrow{
	@extend .arrow;
	top: 0; left: 0; bottom: 0; right: 5%;
	
}

.right-arrow{
	@extend .arrow;
	top: 0; left: 5%; bottom: 0; right: 0;

}


.info-block{
		width:100%;
		height:43em;
		border-bottom:1px solid #FF5555;
		padding:0% 2% 2% 2%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		background-color:#995555;
		
		.mini-header{
			position:relative;
			left:2%;
			top:.5%;
		}
		
		h2{
				font-family:sansation-bold;
				text-transform: uppercase;
				
				
		}
		
		p{
			position:relative;
			top:-2%;
		}
		
		
		.section-block{
			width:100%;
			height:100%;
			position:relative;
			padding:0% 0% 0% 0%;
			-webkit-flex: auto;
			flex: auto;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			
		
			.button{
				height:85%;
				width:5%;
				background-color:#111111;
				position:absolute;
				-webkit-flex: auto;
				flex: auto;
				bottom:0;
				
				opacity:.7;
			}

			.left-button{
				@extend .button;
				left:0;
			}

			.right-button{
				@extend .button;
				right:0;
			}
			
			.section-content{
				width:90%;
				height:85%;
				position:absolute;
				bottom:0;
				
				left:5%;
				border:.25px solid #666666;
				border-top:none;
				border-opacity:.5;
				border-bottom:none;
				.section-meat{
					top:-2.8%;
					width:100%;
					height:100%;
					position:relative;
					background-image:url("../img/black.png");
					
					img{
						border:2px solid #FFFFFF;
						opacity:.9;
					}
					
					.inner-container{
						width:100%;
						height:100%;
						position:absolute;
						padding:2%;
						padding-top:0;
						box-sizing: border-box;
						
					}
					
					
					p{
						top:2%;
						left:2%;
						position:relative;
					}
					
					
				}
			}
		}
		
}

.wrapper{
	width:100%;
	position:relative;
	height:auto;
	background-image:url("../img/ryan.jpg");
	background-repeat: no-repeat;
		background-attachment: fixed;
	background-size:125% auto;
	background-color:#333333;
	background-repeat:no-repeat;
	
	overflow: hidden;
	
	
}

.nav{
	background-color:#555555;
	z-index:10;
	height:100%;
	width:15em;
	position:fixed;
	right:-15em;
	top:0;
	border-left:1px solid #FF5555;
	
	
	.nav-button{
		width:100%;
		height:5em;
		color:#EEEEEE;
		text-align:center;
		border-bottom:1px solid #444444;
		display:flex;
		align-items: center;
		justify-content: center;
		
		
		h4{
			font-family:sansation;
			text-transform: uppercase;
			text-decoration:none;
		}
		
	}
	
	.main-button{
		@extend .nav-button;
		background-color:#995555;
		
	}
}

.header{
	width:100%;
	height:5em;
	background-color:#444444;
	opacity:.9;
	left:0;
	top:0;
	position:fixed;
	z-index:1;
	
	.nav-control{
		width:5em;
		height:5em;
		background-color:#222222;
		right:0;
		position:fixed;
	}
	
}

.logo{
		font-family:sansation;
		text-transform: uppercase;
		text-decoration:none;
		position:fixed;
		z-index:30;
		left:2em;
		height:5em;
		display:flex;
		align-items: center;
		justify-content: center;
		color:#FFFFFF;
}
	
.main{
	position:relative;
	right:0;
	top:10em;
	color:#FFFFFF;
	
	
	
	h3{
		font-family:sansation;
		text-transform: uppercase;
		text-decoration:none;
	}
	p{
		font-family:sansation;
		text-transform: none;
		text-decoration:none;
	}
	
	#home{
		@extend .info-block;
		display:none;
		color:#FFFFFF;
		background:none;
		position:relative;
		height:46em;
		
		.home-text{
			position:relative;
			top:20%;
		}
		
		h1{
			font-family:sansation-italic;
			font-size:3em;
			text-transform: uppercase;
			opacity:.9;
			
			
			text-shadow:
				2px 2px 0 #FF5555,
				-1px -1px 0 #FF5555,  
				1px -1px 0 #FF5555,
				-1px 1px 0 #FF5555,
				1px 1px 0 #FF5555;
		}
		
		h2{
			font-family:sansation-italic;
			font-size:2em;
			text-transform: uppercase;
			opacity:.9;
			position:relative;
			left:2%;
			
			text-shadow:
				2px 2px 0 $shadow-color,
				-1px -1px 0 $shadow-color,  
				1px -1px 0 $shadow-color,
				-1px 1px 0 $shadow-color,
				1px 1px 0 $shadow-color;
		}
	}
	
	#about{
		@extend .info-block;
		background-image:url("../img/ryan2.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position:left;
		width:100%;
		height:100%;
		
		.about-container{
			height:44em;
			width:100%;
			padding-top:1%;
			.about-header{
				width:90%;
				position:relative;
				top:0;
				color:#FF9999;
			}
		
			.about-content{
				width:50%;
				height:50%;
				position:relative;
				top:3%;
				left:0%;
			}
		}
		
		
	}
	#carleton{
		@extend .info-block;
		padding:0;
		
		.mini-header{
			top:.5%;
			margin:0;
			padding:0;
		}
		
		.section-block{
			background-image:url("../img/carleton.png");
			background-repeat: no-repeat;
			background-attachment: fixed;
			.section-content{
				background-color:rgba(85,85,85,.1);
				background-size:100%;
				.section-meat{
					top:0;
				}
			
			}
		}
	}
	#co-op{
		@extend .info-block;
		padding:0;
		
		.mini-header{
			top:.5%;
			margin:0;
			padding:0;
		}
		
		.section-block{
			background-image:url("../img/co-op.png");
			background-repeat: no-repeat;
			background-attachment: fixed;
			.section-content{
				background-color:rgba(85,85,85,.1);
				background-size:100%;
				.section-meat{
					top:0;
				}
			}
		}
	}
	
	#contact{
		@extend .info-block;
		border:none;
		background-image:url("../img/contact.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		height:53em;
		
		h3{
			width:100%;
			display:block;
			margin-top:5%;
			color:#FF9999;
		}
		
		p{
			width:50%;
			display:block;
			
			a{
				line-height:30px;
				vertical-align:center;
				color:#FFFFFF;
				
				img{
					height:100%;
					display:inline-block;
					vertical-align:middle;
				}
			}
		}
		
		
	}
	
	#history-museum{
		@extend .info-block;
		padding:0;
		
		.mini-header{
			top:.5%;
			margin:0;
			padding:0;
		}
		.section-block{
			background-image:url("../img/museum.png");
			background-repeat: no-repeat;
			background-attachment: fixed;
			.section-content{
				background-color:rgba(85,85,85,.1);
				background-size:100%;
				.section-meat{
					top:0;
				}
			}
		
		}
	}
	
}



